.body {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      "header header header"
      "section1 section1 aside"
      "section2 section2 aside"
      "footer footer footer"; 
  }
  .section1 { grid-area: section1; }
  .section2 { grid-area: section2; }
  .aside { grid-area: aside; }
  .footer { grid-area: footer; }
  .header { grid-area: header; }
  